:root {
  --text-color: #757575;
  --header-color: #212121;
  --header-color-bg: #FFFFFF;
  --hover-color: #2196F3;
  --logo-color: #000000;
  --team-color-bg: #F5F4FA;
  --hover-button: #188CE8;
  --footer-color-bg: #2F303A;
  --border-color: #eeeeee;
  --social-media: #AFB1B8;
  --fast-animation: 300ms ease-in-out;
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  --items: 2;
}

.logo {
  color: var(--logo-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.logo__header {
  color: var(--hover-color);
}

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.address__item--header {
  margin-bottom: 9px;
}

.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  margin-left: 93px;
}

.nav__link {
  color: var(--header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--hover-color);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link--active {
  position: relative;
  color: var(--hover-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__link--active::after {
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--hover-color);
  border-radius: 2px;
}

.header__address {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .header__address {
    display: none;
  }
}

.header__address-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
}

.address__link {
  font-family: "Roboto";
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--hover-color);
}
@media screen and (max-width: 1200px) {
  .address__link {
    font-size: 12px;
  }
}

.envelope-link {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.envelope-link:hover, .envelope-link:focus {
  color: var(--hover-color);
}

.icon-envelope {
  width: 14px;
  height: 10px;
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .icon-envelope {
    width: 16px;
    height: 12px;
  }
}

.tel-link {
  color: var(--text-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-link:hover, .tel-link:focus {
  color: var(--hover-color);
}

.icon-tel {
  width: 10px;
  height: 14px;
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .icon-tel {
    width: 10px;
    height: 16px;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  background-color: var(--footer-color-bg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.section--image {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_mob.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section--image {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_mob@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section--image {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section--image {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_tab@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .section--image {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_desc.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_desc.jpg);
    height: 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section--image {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero_desc@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero_desc@2x.jpg);
  }
}

.section__text {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  color: var(--header-color-bg);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .section__text {
    font-size: 44px;
    max-width: 696px;
    line-height: 1.36;
  }
}

.section__btn {
  color: var(--header-color-bg);
  background-color: var(--hover-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .section__btn {
    min-width: 216px;
  }
}
.section__btn:hover {
  background-color: var(--hover-button);
}

.icon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--team-color-bg);
  height: 120px;
  width: 100%;
  border-radius: 4px;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --items: 1;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  max-width: 450px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .features__list {
    --items: 2;
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    --items: 3;
    max-width: 1170px;
  }
}

.features__item {
  -ms-flex-preferred-size: calc((100% - 30px * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - 30px * (var(--items) - 1)) / var(--items));
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .features__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    max-width: 270px;
  }
}

.features__header {
  color: var(--header-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__header {
    text-align: start;
  }
}

.features__text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__container {
  margin-top: 30px;
}

.activity {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity__header {
  color: var(--header-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity__img {
  position: relative;
}

.activity__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color-bg);
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background-color: var(--team-color-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__header {
  color: var(--header-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__header {
    margin-bottom: 50px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  --items: 1;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .team__list {
    --items: 2;
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    --items: 4;
    max-width: 1170px;
  }
}

.team__item {
  background-color: var(--header-color-bg);
  position: relative;
  width: 450px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__box {
  display: inherit;
  padding: 30px;
}

.team__member {
  font-size: 16px;
  color: var(--header-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.team__text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  gap: 10px;
}

.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--header-color-bg);
  color: var(--social-media);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:focus, .social-media__link:hover {
  background: var(--hover-color);
  color: var(--header-color-bg);
}

.social-media__icon {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__header {
  margin-bottom: 30px;
  color: var(--header-color);
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .clients__header {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .clients__list {
    max-width: 768px;
  }
  .clients__list__item {
    -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    max-width: 1200px;
  }
}

.clients__item {
  color: var(--social-media);
  min-height: 92px;
  max-width: 210px;
  -ms-flex-preferred-size: calc((100% - 30px * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - 30px * (var(--items) - 1)) / var(--items));
}
@media screen and (min-width: 768px) {
  .clients__item {
    max-width: 226px;
    --items: 3;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    max-width: 170px;
    --items: 6;
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  border: 1px solid var(--social-media);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: var(--hover-color);
  border-color: var(--hover-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.container--footer {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 1200px) {
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo__footer {
  color: var(--hover-color);
}

.footer {
  background-color: var(--footer-color-bg);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__box {
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__link {
  color: var(--header-color-bg);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: var(--hover-color);
}

.footer__link--address {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer__link--logo {
  color: var(--header-color-bg);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer__link--logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__icon {
  fill: var(--header-color-bg);
}

.social-media__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-media__footer {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .social-media__footer {
    margin-left: 165px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .social-media__footer {
    left: 516px;
    width: 206px;
    margin-right: 93px;
  }
}

.social-media--list {
  gap: 10px;
}

.social-media__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--header-color-bg);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .social-media__text {
    display: inline-block;
  }
}

.social-media--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer__link--logo {
  font-style: normal;
}

.address {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .address {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address {
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 0;
  }
}

.address__list {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: block;
  padding-left: 0;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .address__list {
    padding: 0;
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media screen and (max-width: 1199px) {
  .address__list {
    text-align: center;
  }
}

.address__item {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item {
    margin-bottom: 9px;
  }
}

.mailing-box {
  display: block;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .mailing-box {
    margin: 60px auto 0 auto;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-box {
    margin: 0 0 0 auto;
    width: 570px;
  }
}

.mailing-box__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--header-color-bg);
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .mailing-box__header {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-box__header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 0;
  }
}

.mailing-box__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .mailing-box__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mailing-box__label {
  margin-right: 12px;
}

.mailing-box__input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: var(--header-color-bg);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .mailing-box__input {
    width: 358px;
  }
}

.mailing-box__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background: var(--hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing-box__btn:hover, .mailing-box__btn:focus {
  background-color: var(--hover-button);
}
@media screen and (min-width: 1200px) {
  .mailing-box__btn {
    margin-left: 12px;
    margin-top: 0;
  }
}

.mailing-box__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--header-color-bg);
  margin-right: 10px;
}

.mailing-box__icon {
  height: 24px;
  width: 24px;
  fill: var(--header-color-bg);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--fast-animation), visibility var(--fast-animation);
  transition: opacity var(--fast-animation), visibility var(--fast-animation);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  z-index: 100;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  min-width: 290px;
  min-height: 609px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--header-color-bg);
}
@media screen and (min-width: 451px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__btn {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--header-color-bg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__svg {
  fill: currentColor;
}

.modal__btn {
  fill: currentColor;
}
.modal__btn:hover, .modal__btn:focus {
  color: var(--hover-button);
}

.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__header {
    line-height: 1.15;
  }
}

.modal__input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--text-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  padding: 12px 15px 12px 42px;
}

.modal__item:not(:last-child) {
  position: relative;
  margin-bottom: 10px;
}

.modal__icon {
  top: 55%;
  left: 12px;
  position: absolute;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
}
.modal__input:focus .modal__icon {
  fill: #2196F3;
}

.modal__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
  display: block;
}

.modal__com {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  color: var(--text-color);
  background-color: transparent;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.modal__com::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__com::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__com:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__com::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__com::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__input:focus,
.modal__com:focus {
  outline: transparent;
  border-color: var(--hover-color);
}

.visually-hidden:focus + .modal-icon {
  fill: var(--hover-color);
}

.checkbox {
  margin-top: 20px;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.checkbox__header {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
@media screen and (min-width: 1200px) {
  .checkbox__header {
    font-size: 14px;
    line-height: 1, 17;
  }
}

.checkbox__input:checked + .check__icon {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
}

.checkbox__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--hover-color);
}
@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-size: 14px;
  }
}

.checkbox__icon {
  fill: var(--header-color-bg);
  width: 16px;
  height: 15px;
}

.checkbox__btn {
  min-width: 200px;
  min-height: 50px;
  margin-left: 5px;
  display: inline-block;
  background: var(--hover-button);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__btn:hover, .checkbox__btn:focus {
  background-color: var(--hover-color);
}
@media screen and (min-width: 451px) {
  .checkbox__btn {
    margin-left: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox__btn {
    margin-left: 125px;
  }
}

.checkbox__text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--header-color-bg);
}

.check__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 2px;
  background-color: #FFFFFF;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__check:checked .check__icon {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .portfolio__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-bottom: 35px;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__btn {
  font-family: inherit;
  margin-right: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  color: var(--header-color);
  background-color: var(--team-color-bg);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: var(--header-color-bg);
  background-color: var(--hover-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .portfolio__works {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.portfolio__work {
  background-color: var(--header-color-bg);
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.portfolio__work:hover, .portfolio__work:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__work:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__work:nth-child(3n) {
    margin-right: 0;
  }
}

.portfolio__info {
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__info {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__info {
    max-width: 370px;
  }
}

.portfolio__box {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__box {
    width: 370px;
  }
}

.portfolio__link {
  display: block;
}
.portfolio__link:hover .overlay, .portfolio__link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__header {
  color: var(--header-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 4px;
}

.portfolio__text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.nav__link--active {
  color: var(--hover-color);
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--header-color-bg);
}

body {
  font-family: "Roboto";
  letter-spacing: 0.03em;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

a {
  text-decoration: none;
}

h2,
h3,
p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.menu-toggle {
  background-color: transparent;
  color: #212121;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 22px;
  right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  z-index: 1000;
}
.menu-toggle:hover, .menu-toggle:focus {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-menu__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196F3;
}

.mobile-menu-icon {
  fill: currentColor;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #FFFFFF;
  z-index: 100;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu-burger {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle.is-open .mobile-menu-burger {
  opacity: 0;
}

.mobile-menu-close {
  opacity: 0;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle.is-open .mobile-menu-close {
  opacity: 1;
}

.mobile-menu-nav {
  display: block;
  margin-bottom: auto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav-item .current {
  color: #2196F3;
}

.mobile-menu-contacts {
  display: block;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts-item .accent {
  font-size: 27px;
  color: #2196F3;
}

.mobile-menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-menu-socials-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}
@media screen and (min-width: 480px) {
  .mobile-menu-socials-link {
    font-size: 18px;
  }
}

.mobile-menu-socials-item:not(:last-child) .mobile-menu-socials-link {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobile-menu__contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--hover-color);
  margin-bottom: 32px;
}

.mobile-menu__contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.mobile-menu__contacts__mail:hover, .mobile-menu__contacts__mail:focus {
  color: #2196F3;
}/*# sourceMappingURL=main.css.map */