:root {
    --text-color: #757575;
    --header-color: #212121;
    --header-color-bg: #FFFFFF;
    --hover-color: #2196F3;
    --logo-color: #000000;
    --team-color-bg: #F5F4FA;
    --hover-button: #188CE8;
    --footer-color-bg: #2F303A;
    --border-color: #eeeeee;
    --social-media: #AFB1B8;
    --fast-animation: 300ms ease-in-out;
    --main-font: 'Roboto';
    --secondary-font: 'Raleway';
}